* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-heading-container {
    width: 100%;
    margin: 16px 0 48px;
    display: flex;
    align-items: center;
}

.page-heading {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.image-grid {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, calc((100% - 144px)/3)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.tile {
    width: 100%;
    height: auto;
    position: relative;
    transition: scale 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.thumbnail {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.tile:hover {
    cursor: pointer;
    scale: 1.03;
}

.tile:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(10, 10, 10, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightbox {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #f5f5f5;
}

.full-image-container {
    width: 100%;
    height: fit-content;
}

.full-image {
    width: 100%;
    height: auto;
}

.caption-coontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.author {
    font-size: 20px;
    font-weight: 600;
}

.download-link {
    text-decoration: none;
    background-color: #7C4585;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #3D365C;
}

.button {
    color: white;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(100, 100, 100);
}

#close-button {
    top: 20px;
    right: 30px;
}